<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">VacunateRD</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Acerca de
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AgregarVacuna">
                <span class="fas fa-ambulance" aria-hidden="true"></span> Agregar vacuna
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ElminarDosis">
                <span class="fas fa-trash-alt" aria-hidden="true"></span> Elminar Dosis
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Consultas">
                <span class="fas fa-search" aria-hidden="true"></span> Consultar pacientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Provincias">
                <span class="fas fa-globe" aria-hidden="true"></span> Reporte provincias
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RptZodiaco">
                <span class="fas fa-star-of-david" aria-hidden="true"></span> Reporte Zodiaco
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GrafVacunas">
                <span class="fas fa-chart-pie" aria-hidden="true"></span> Grafica vacunas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Config">
                <span class="fas fa-cog" aria-hidden="true"></span> Configuracion
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
