@page "/"

<div class="card text-white bg-dark mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/kevin.jpg" width="205" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><b>Kevin Feliz Encarnacion</b></h5>
                <p class="card-text">Se encargo de hacer la parte de agregar vacunas para nuevos y viejos usuarios, y la configuracion tanto de provincias como marcas de vacunas, aoprto en el diseño</p>
                <a href="https://t.me/Sr_Kevs" target="_blank">Mi telegram</a>
                <p class="card-text"><small class="text-muted">20198682@itla.edu.do</small></p>
                <p class="card-text"><small class="text-muted">2019-8682</small></p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card text-white bg-dark mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/elias.jpg" width="205" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><b>Huascar Mejia</b></h5>
                <p class="card-text">Se encargo de hacer la parte de eliminar vacunas, la consulta de vacunados y la consulta de vacunados por provincia, aporto en el diseño.</p>
                <a href="https://t.me/WonderEggi" target="_blank">Mi telegram</a>
                <p class="card-text"><small class="text-muted">20198773@itla.edu.do</small></p>
                <p class="card-text"><small class="text-muted">2019-8773</small></p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card text-white bg-dark mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/jairo.jpg" width="200" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><b>Jairo Melo</b></h5>
                <p class="card-text">Se encargo de hacer la parte del reporte del signo zodiacal y el reporte de vacunas por marca y su grafica</p>
                <a href="https://t.me/MairoJelo" target="_blank">Mi telegram</a>
                <p class="card-text"><small class="text-muted">20198625@itla.edu.do</small></p>
                <p class="card-text"><small class="text-muted">2019-8625</small></p>
            </div>
        </div>
    </div>
</div>